<!-- Content Heading -->
<h1>
    <%= title %>
</h1>


<!-- Flash message -->
<%- messages() %>

    <!-- login -->
    <form id="loginForm" action="/account/login" method="post">
        <fieldset class="data-box">
            <div class="loginForm-control">
                <label for="accountEmail">Email Address:</label>
                <input type="email" name="account_email" id="accountEmail" placeholder="youremail@mail.com" required>
            </div>
            <div class="loginForm-control">
                <label for="accountPassword">Password:</label>
                <input type="password" name="account_password" id="accountPassword" placeholder="Password" required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </div>
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital
                letter and 1 special character</span>

        </fieldset>
        <button type="submit">Login</button>
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </form>