<h1><%- title %></h1>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form id="classificationForm" class="classificationForm-control" method="post">
                <p>All fields are required.</p>
                <%# All data should be sent by the form action... %>
                    <fieldset class="classificationFieldset">
                        <label for="classification_name">CLASSIFICATION NAME</label><br>
                        <span class="classificationsubmessage">NAME MUST BE ALPHABETIC CHARACTERS ONLY</span><br>
                        <input type="text" id="classification_name" name="classification_name" required
                            pattern="[0-9a-zA-Z]+" value="<%= locals.classification_name %>">
                        <button type="submit">Add Classification</button>
                    </fieldset>
            </form>