<h1><%- title %></h1>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form class="input-box" action="/inv/add-classification" method="post">
                <p class="registerMessage">All fields are required.</p>
                <%# All data should be sent by the form action... %>
                    <label>CLASSIFICATION NAME<input type="text" name="classification_name" required
                            value="<%= locals.classification_name %>" pattern="[0-9a-zA-Z]+"></label>
                    <span class="fine-print">NAME MUST BE ALPHABETIC CHARACTERS ONLY</span>
                    <input type="submit" value="Add Classification">
            </form>